<p class="text-sm text-gray-900 my-2">comment as <%= current_user.name %></p>

<%= form_for([@meeting, @comment], remote: true) do |f| %>
  <div class="relative">
    <%= f.hidden_field :reply, class: "input h-32 border border-gray-600 resize-none", placeholder: "Add any notes or replies here" %>
    <%= f.rich_text_area :body, label: 'Put your comment' %>
    

    <%= f.submit class: "btn btn-small btn-secondary block w-full text-center mt-2 lg: mt-0 lg:text-left lg:absolute lg:pin-b lg:pin-r lg:mb-2 lg:mr-2 lg:w-auto lg:inline-flex" %>
  </div>
<% end %>